{% extends "templates/tut.html" %}
{% block questions %}
<ol>
<li>
<!-- question courtesy Nelson Rigby  -->
Cletus has an extreme phobia of two periods ('..') appearing
consecutively anywhere, stemming from an early childhood trauma too
embarrassing to relate. He decided to write a shell script 'cd_up.sh'
aimed at changing the working directory to the level up, so he didn't
have to go through the distress of regularly seeing '..':
<p>
<pre class="command_line">
#!/bin/sh
cd ..
</pre>
<p>
But when he ran his script, it didn't seem to work:
<p>
<pre class="command_line">
<kbd class="shell">pwd</kbd>
/home/cletus
<kbd class="shell">./cd_up.sh</kbd>
<kbd class="shell">pwd</kbd>
/home/cletus
</pre>
<p>
Why not, and can you fix Cletus' shell script?
</p>
<p></p>
<li>
The course code for COMP2041 has been changed to COMP2042 and
the course code for COMP9041 has been changed to COMP9042.
Write a shell script, <code>update_course_code.sh</code> which
appropriately changes the course_code in all the files it is given as argument.
<p></p>
<li>
Modify  <code>update_course_code.sh</code> so if given a directory as
argument it updates the course codes in files found in that directory and  its sub-directories.

<p></p>
<li>
Write a shell script, <code>is_business_hours</code> which exits with a status of 0
if the current time is between 9am &amp; 5pm, and otherwise  exits with a status of 1.
<p>
Hint: the date command prints the current time in a format like this:
<pre class="command_line">
<kbd class="shell">date</kbd>
Sun Mar 18 12:57:08 EST 2012
</pre>
<p></p>
<!-- Questions below courtesy Michael Zhou -->
<li>
CSE systems have a command, <code>mlalias</code>, which
prints information about a specified mail alias.  For example:
<p>
<pre class="command_line">
<kbd class="shell">mlalias COMP2041-list</kbd>
        alias: COMP2041-list
  description: Udb alias list
    addresses:
               blix573
               mhuz728
               .......
               sngx602
               andrewt
       owners: udb, cs2041
authorised posters: @Employee, @Subject_Utility, @Wheel
    Moderator: udb
       Status: system, closed, moderated, virtual, and public
</pre>
Convert the output of the mlalias command into a new line separated list
of CSE usernames, like this:
<p>
<pre class="command_line">
blix573
mhuz728
.......
sngx602
andrewt
</pre>
<p>
<p></p>
<li>
CSE system have a command, <code>acc</code>, which
prints information about a specified user.  For example:
<p>
<pre class="command_line">
<kbd class="shell">acc mzhou</kbd>
            User Name : mzhou              Aliases : myzh046
                  Uid : 25068
               Groups : cs1917
              Expires : 31 Aug 2012
         User classes : 3978_Student, COMP2041_Student[15jul2012]
                      : COMP2121_Student[15jul2012], COMP2911_Student[15jul2012]
                      : COMP1917_Tutor[16jul2012], COMP3901_Student[15jul2012]
         Misc classes : WirelessAccess[23jun2012]
                 Name : Michael Yang Zhou
Password last changed : 2011/03/02.21:23:19
       Home Directory : /import/adams/1/mzhou
     Waste Basket UID : 65619
 Printer Usage Status : Pre-census Allocation       2045 (More will be available after HECS census)
                      : Used                          35
                      : Available                   2010
                      : set at 12:05 AM 19/Mar/2012
       Daily IP Quota : 350.0MB
     Session IP Quota : 700.0MB (more will be available from 31 March, 2012)
     Session IP Usage : 275.3MB
</pre>
<p>
Write a pipeline which converts the output of acc into a new line separated list of
courses the person is enrolled in, like this:
<p>
<pre class="command_line">
COMP2041
COMP2121
COMP2911
COMP3901
</pre>
<p>
<p>
<p></p>
<li><p>
Use the pipeines from the above 2 questions to write shell commands which
print a list of courses taken by COMP2041 students with counts of how
many COMP2041 students take each, like this:
<p>
<pre class="command_line">
     55 COMP2911
     37 COMP2121
     17 COMP3311
     10 COMP2111
      9 COMP3331
      ..........
</pre>
<p></p>
<li>
<!-- question courtesy Nelson Rigby  -->
COMP2041 student Shruti has a 'friends' subdirectory in her home directory
that contains images of her many friends.  Shruti likes to view these images
often and would like to have them appear in other directories within
her CSE account so she has written a shell script to symbolically link
them to the current directory:
<p>
<pre class="command_line">
for image_file in `ls ~/friends`
do
    ln -s "~/friends/$image_file" .
done
</pre>
<p>
The links created by Shruti's script are broken.
Why? How can she fix her script?
<p>
<p></p>
<li>
Implement a shell script called <code>iseq</code> for writing sequences
of integers onto its standard output, with one integer per line.
The script can take up to three arguments, and behaves as follows:
<ul>
<li> <code>iseq <i>n</i></code>
      writes all numbers from 1 up to <code><i>n</i></code>, inclusive
<li> <code>iseq <i>m n</i></code>
      writes all numbers from <code><i>m</i></code> up to <code><i>n</i></code> inclusive
<li> <code>iseq <i>k m n</i></code>
      writes the sequence <code><i>k</i></code>, <code><i>m</i></code>, <code><i>m+(m-k)</i></code>, <code><i>m+2(m-k)</i></code> up to <code><i>p</i></code> <br>
    (where <code><i>p</i></code> is the largest integer in this sequence
         that is less than or equal to <code><i>n</i></code>)
</br></li></li></li></ul>
<p>
Examples of output:
<pre class="command_line">
<kbd class="shell"><b>iseq 5</b>           $ <b>iseq 2 6</b>          $ <b>iseq 3 3 16</b></kbd>
    1                  2                   3
    2                  3                   6
    3                  4                   9
    4                  5                   12
    5                  6                   15
</pre>
<p></p>
<p>
<p></p>
<li>
Write a shell script named <code>isprime</code>
which given an integer as argment, tests whether
it is prime and prints a suitable message:
<pre class="command_line">
<kbd class="shell">isprime 42</kbd>
42 is not prime
<kbd class="shell">isprime 113</kbd>
113 is prime
</pre>
Your script should  exit with a non-zero exit status if its
argument is not prime.
<p>
Write a second script named <code>primes</code> which uses the first
script to print all primes less than a specified value, e.g:
<p>
<pre class="command_line">
<kbd class="shell">primes 100</kbd>
2
3
5
7
11
13
17
...
79
83
89
97
</pre>
<p></p>
<li>
Write a shell script, <code>list_include_files</code>, which given a list of C source files (<code>.c</code> files)
as arguments, prints the names of the files they include  (<code>.h</code> files),
reporting each file only once, e.g.:
<p>
<pre class="command_line">
<kbd class="shell">list_include_files count_words.c get_word.c map.c</kbd>
ctype.h
get_word.h
map.h
stdio.h
stdlib.h
time.h
</pre>
<p></p>
{% endblock %}
{% block revision_questions %}
<li>
<!-- question courtesy Nelson Rigby  -->
COMP2041 student  Big Bad Barry tries to impress a girl
at a party by betting her she can't work out what this shell script:
<p>
<pre class="command_line">
#!/bin/sh
IFS=abc
echo "$*"
</pre>
<p>
prints when run like this:
<pre class="command_line">
<kbd class="shell">./script.sh mount inside</kbd>
</pre><p>
What does the script print?
<p>
Will the girl go out with  Big Bad Barry?
<p>
<p></p>
</p></p></p></p></p></li></p></li></p></p></li></p></p></li></p></p></p></li></p></p></li></p></p></p></p></p></li></p></p></p></li></p></li></li></li></p></p></p></li></ol>
{% endblock %}
