{% extends "templates/tut.html" %}
{% block questions %}
<li>
What is your tutor's name, e-mail, how long have they been at UNSW, what are they studying, what is 1 interesting thing about them?

<p></p>
<li>
What are your class mates's names, what are they each studying, what is 1 interesting thing about each of them?

<p></p>
<li>
Are there marks for attending lectures, tutorials or labs?

<p></p>
<li>

What is an operating system? What operating systems are running in your tute room? What operating system do CSE lab computers run?

<p></p>
<li>
<ol type="a">
<li> Write a regexp to match C preprocessor commands in a C program.
<li> Write a regexp to match all the lines in a C program except preprocessor commands
<li> Write a regexp to find line in a C program with trailing white space - one or white space at the end of line
<li> Write a regexp to match the names Barry, Harry, Larry and Parry
<li> Write a regexp to match a string containing the word <code>hello</code> followed later by the word <code>world</code>
<li> Write regexp to match the word <code>calendar</code> and all mis-spellings with 'a' replaced 'e' or vice-versa
<li> Write regexp to match a list of positive integers separated by commas, e.g.  <code>2,4,8,16,32</code>
<li> Write regexp to match a C string whose last character is newline
</li></li></li></li></li></li></li></li></ol>
<p></p>
<li>
Give five reasons why this attempt to search a  file for
HTML paragraph and break tags may fail.
<pre class="command_line">
<kbd class="shell">grep &lt;p&gt;|&lt;br&gt; /tmp/index.html</kbd>
</pre>
<p>
Give egrep commands that will work.
<p></p>
<li>
For each of the regular expression below indicate how many different
strings the pattern matches and give some example of the strings it matches.
If possible these example should include the shortest string and the longest string.
<ol type="a">
<li> <pre class="command_line">Perl</pre>
<li> <pre class="command_line">Pe*r*l</pre>
<li> <pre class="command_line">Full-stop.</pre>
<li> <pre class="command_line">[1-9][0-9][0-9][0-9]</pre>
<li> <pre class="command_line">I (love|hate) programming in (Perl|Python) and (Java|C)</pre>
</li></li></li></li></li></ol>
<p></p>
<li>
This regular expression [0-9]*.[0-9]* is intended to match floating point
numbers such as '42.5'. Is it appropriate?
<p></p>
<li>
What does the command <code>egrep -v .</code> print and why?
<p>
Give an equivalent egrep command with no options, in other words without the -v and with a different pattern.
<p></p>
<li>
Write an egrep command which will print any lines in a file <code>ips.txt</code> containing
an IP addresses in the
range 129.94.172.1 to 129.94.172.25

<p></p>
<li>
For each of the scenarios below
<ul>
<li> describe the strings being matched using an English sentence
<li> give a POSIX regular expression to match this class of strings
</li></li></ul>
In the examples, the expected matches are highlighted in bold.
<ol type="a">
<li>
encrypted password fields (including the surrounding colons)
in a Unix password file entry, e.g.
<pre>
root<b>:ZHolHAHZw8As2:</b>0:0:root:/root:/bin/bash
jas<b>:nJz3ru5a/44Ko:</b>100:100:John Shepherd:/home/jas:/bin/bash
</pre>
<p></p>
<li>
positive real numbers at the start of a line
(using normal fixed-point notation for reals,
<em>not</em> the kind of scientific notation you find in
programming languages), e.g.
<pre>
<b>3.141</b> value of Pi
<b>90.57</b> maximum hits/sec
half of the time, life is silly
<b>0.05</b>% is the legal limit
<b>42</b> - the meaning of life
this 1.333 is not at the start
</pre>
<p></p>
<li>
Names as represented in this file containing details of tute/lab
enrolments:

<pre>
    2134389|Wang, Duved Seo Ken         |fri15-spoons|
    2139656|Undirwaad, Giaffriy Jumis   |tue13-kazoo|
    2154877|Ng, Hinry                   |tue17-kazoo|
    2174328|Zhung, Yung                 |thu17-spoons|
    2234136|Hso, Men-Tsun               |tue09-harp|
    2254148|Khorme, Saneu               |tue09-harp|
    2329667|Mahsin, Zumel               |tue17-kazoo|
    2334348|Trun, Toyin Hong Recky      |mon11-leaf|
    2336212|Sopuvunechyunant, Sopuchue  |mon11-leaf|
    2344749|Chung, Wue Sun              |fri09-harp|
    ...
</pre>
<p>
<p></p>
<li>
Names as above, but without the trailing spaces (difficult).
<i>Hint:</i> what are given names composed of, and how many of these
things can there be?
<p></p>
</li></p></li></li></li></ol>
<li>
Consider the following columnated (space-delimited) data file
containing marks information for a single subject:
<p>
<pre>
2111321 37 FL
2166258 67 CR
2168678 84 DN
2186565 77 DN
2190546 78 DN
2210109 50 PS
2223455 95 HD
2266365 55 PS
...
</pre>
<p>
Assume that the student number occurs at the beginning of the
line, that the file is sorted on student number, and that nobody
scores 100.

<ol type="a">
<li>
Give calls to the <code>sort</code> filter to display the data:
<ol type="i">
<li> in order on student number

<p></p>
<li> in ascending order on mark

<p></p>
<li> in descending order on mark

<p></p>
</li></li></li></ol>
<li>
Write calls to the <code>grep</code> filter to select details of:
<ol type="i">
<li> students who failed

<p></p>
<li> students who scored above 90

<p></p>
<li> students with even student numbers

<p></p>
</li></li></li></ol>
<li>
Write a pipeline to print:
<ol type="i">
<li> the details for the top 10 students (ordered by mark)

<p></p>
<li> the details for the bottom 5 students (ordered by mark)

<p></p>
</li></li></ol>
<li>
Assuming that the command <code>cut -d' ' -f 3</code> can extract
just the grades (<code>PS</code>, etc.), write a pipeline to show
how many people achieved each grade (i.e. the grade distribution).
E.g. for the above data:
<pre>
    1 CR
    3 DN
    1 FL
    1 HD
    2 PS
</pre>
<p></p>
</li></li></li></li></ol>
<li>
Consider the following text file containing details of tute/lab
enrolments:

<pre>
    2134389|Wang, Duved Seo Ken         |fri15-spoons|
    2139656|Undirwaad, Giaffriy Jumis   |tue13-kazoo|
    2154877|Ng, Hinry                   |tue17-kazoo|
    2174328|Zhung, Yung                 |thu17-spoons|
    2234136|Hso, Men-Tsun               |tue09-harp|
    2254148|Khorme, Saneu               |tue09-harp|
    2329667|Mahsin, Zumel               |tue17-kazoo|
    2334348|Trun, Toyin Hong Recky      |mon11-leaf|
    2336212|Sopuvunechyunant, Sopuchue  |mon11-leaf|
    2344749|Chung, Wue Sun              |fri09-harp|
    ...
</pre>
<p>
Assuming that the file is called <code>enrolments</code>,
write pipelines to answer each of the following queries:

<ol type="a">
<li> Which tute is Hinry Ng enrolled in?

<p></p>
<li> How many different tutorials are there?

<p></p>
<li> What is the number of students in each tute?

<p></p>
<li> Are any students enrolled in multiple tutes?

<p></p>
</li></li></li></li></ol>

{% block revision_header %}

{% endblock %}

{% endblock %}
</p></li></p></p></li></li></li></p></li></li></li></p></li></li></li></li></li></li>